.img{
    height: 100%;
    width: 30%;
    position: relative;
    
}

.container-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table{
    /* width: 70%; */
    margin-top: 0px;
    margin-left:130px;
    color: white;
    text-align: center;
    background-color: rgba(75,0,130, 0.3);
    
}

.header {
    margin: auto;
    color: aliceblue;
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
}
.navbar {
    background-color: indigo;
}

.jumbotron{
    background-color: rgba(240,248,255,0.9);
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn-add {
    margin-left: 170px;
}
.btn-danger{
    margin-right: 2px;
}

th{
    color:black;
}

html, body {
    height: 100vh;
}

